node_modules/
dist/
build/
.vite/
.cache/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.env
.env.*.local
.DS_Store
.idea/
.vscode/
*.tsbuildinfo
/.pnp
/.pnp.js
coverage/
/.turbo
public/manifest-*.json